<!DOCTYPE html>
<html>
    <head>
        <title>Environmentalicious</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.min.js"> </script>
        <script type="text/javascript" src="js/greensock/TweenMax.min.js"> </script>        

        <script type="text/javascript" src="js/jquery.scrollmagic.js"> </script>
        <script type="text/javascript" src="js/about_page.js"> </script>
  		<link rel="stylesheet" type="text/css" href="css/about_page.css" />

	</head>	


	<body>

		<div id="content-wrapper">

			<div class="scrollContent">

				<section id="title_section" class="section">

					<div id="login_reg_href">
						<a href="/#home"> Login </a> | <a href="#get_involved_section"> Register</a>
					</div>

					<h1 id="title" > <i><b>Environmentalicious</i></b> </h1>
					<a href="#what_we_do_section">
						<span id="down_arrow" class="glyphicon glyphicon-chevron-down"></span>
					</a>

				</section>

				<section id="what_we_do_section" class="section">

					<h1> How it works: </h1>
					<div id="what_we_do_text" style="padding-top:30px">
						<ul>
							<li> Clean up our community </li>
							<li> Spot an enviromental issue </li>
							<li> Report events with a location </li>
							<li> Gather other user's to help </li>
							<li> Volunteer and help others </li>
						</ul>
					</div>



				</section>

				<section id="map_it_section" class="section">

					<h1 id="map_it_title"> Map it! </h1>

					<div id="map_target">
						<img id="map" src="images/map_image.png"/>
						<br/>
						<img id="pin" src="images/google_map_pin.png">
						<div id="map_message">
							<p style="font-size:20px">
								Trash is on I-90, Let go Clean it up!
							</p>
						</div>

					<div>
					<br/>

				</section>

				<section id="cleanup_section" class="section">

					<h1 id="clean_up_title"> Clean up! </h1>
					<br>
					<div id="trigger_bin">
						<img  id="recycle_bin" src="images/recycle-bin.png">
					</div>
					<br>
					<div id="paper_crumples_right">
						<img id="crumble1" src="images/80-crumpled_paper.png">
						<img id="crumble3" src="images/80-crumpled_paper.png"> 
					</div>
					<div id="paper_crumples_left">
						<img id="crumble2" src="images/80-crumpled_paper.png">
					</div>


				</section>

				<section id="get_involved_section" class="section">

					<h1> Get Involved! </h1>

					<form class="form-inline" role="form" id="sign_up">
					
						<div class="form-group" id="name">  
							<label for="nameInput"> Name: </label> 
							<input id="nameInput" class="form-control" type="text"/> 
						</div> 
						<br>
						<div class="form-group" id="email"> 
							<label for="emailInput"> Email: </label> 
							<input id="emailInput" class="form-control" type="text"/> 
						</div> 
						<br>
						<div class="form-group" id="pwd">   
							<label for="pwdInput"> Password: </label> 
							<input id="pwdInput" class="form-control" type="password"/> 
						</div> 
						<br>
					<a class="btn btn-default btn-lg active" href="/#home"> Register!
					</a>
				</form>
				</section>
			</div>
		</div>
	</body>
</html>
