<!DOCTYPE html>
<html>
    <head>
        <title>Environmentalicious</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.min.js"> </script>
        <script type="text/javascript" src="js/greensock/TweenMax.min.js"> </script>        

        <script type="text/javascript" src="js/jquery.scrollmagic.js"> </script>
        <script type="text/javascript" src="js/about_page.js"> </script>
  		<link rel="stylesheet" type="text/css" href="css/about_page.css" />

	</head>	


	<body>

		<div id="content-wrapper">

			<div class="scrollContent">

				<section id="title_section" class="section">

					<div id="login_reg_href">
						<a href=""> Login </a> | <a href=""> Register</a>
					</div>

					<h1 id="title"> Environmentalicious </h1>
					<span id="down_arrow" class="glyphicon glyphicon-chevron-down"></span>

				</section>

				<section id="what_we_do_section" class="section">

					<h1> What we do </h1>
					<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam."
					</p>

				</section>

				<section id="map_it_section" class="section">

					<h1> Map it! </h1>

					<img id="map" src="images/map_image.png"/>

				</section>

				<section id="cleanup_section" class="section">

					<h1 id="clean_up_title"> Clean up! </h1>
					<br>
					<div id="trigger_bin">
						<img  id="recycle_bin" src="images/recycle-bin.png">
					</div>
					<br>
					<div id="paper_crumples_right">
						<img id="crumble1" src="images/80-crumpled_paper.png">
						<img id="crumble3" src="images/80-crumpled_paper.png"> 
					</div>
					<div id="paper_crumples_left">
						<img id="crumble2" src="images/80-crumpled_paper.png">
					</div>


				</section>

				<section id="get_involved_section" class="section">

					<h1> Get Involved! </h1>

					<div id="sign_up">
						<div id="name">  <label> Name: </label> <input type="text"/> </div> <br>
						<div id="email"> <label> Email: </label> <input type="text"/> </div> <br>
						<div id="pwd">   <label> Password: </label> <input type="password"/> </div> <br>
						<button> Register! </button>

					</div>

				</section>
				

			</div>

		</div>


	</body>


</html>
