<!DOCTYPE html>

    <head>
        <title>Environmentalicious</title>
        <link rel ="stylesheet" href="../css/bootstrap.css">
        <link rel ="stylesheet" href="../css/bootstrap-theme.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="../../src/app/routes.js"></script>
    </head>

    <body ng-app="">
        <!--                    NAVIGATION                                     -->
        <nav class="navbar navbar-default" role="navigaion">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><i><b>Environmentalicious</b></i></a>
                    
                </div>

                <div class="collapse navbar-collapse" style="text-align:center">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Create Event</a></li>
                        <li><a href="#"> Find Event</a></li>
                        <li><a href="forum.html"> Discussions</a></li>
                        <li><a href="#"> About</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">Welcome, <a href="/about.html">User!</a></p>
                </div>
            </div>
        </nav>

        <!--                    PAGE CONTENT                       -->
        <div class="container">
            <div class="OuterMostClass row">
                <div class="outerClass col-md-5" id="my-events">
                    <h1> My Events </h1>
                    <p> You don't seem to have any events!</p>
                    <br/>
                    <p> Would you like to <a href="#">create an event?</a></p>
                </div>
                <div class="outerClass2 col-md-5" id="local-events">
                    <h1>Events in My City</h1>
                   
                    <form class="navbar-form nav-right" role="search">
                        <div class="form-group">
                             <h5> Where do you live?</h5>
                            <input type="text" class="form-control" placeholder="Search">
                             <button type="submit" class="btn btn-default">Submit</button>
                        </div>  
                    </form>
                    </br>
                    <div class="outerclass col-md-6" id="pop-events">
                        <h4>Popular Events</h4>
                        <p> Please search for you location using the map!</p>
                    </div> 
                    <div class="outerclass col-md-6" id="maps-api">
                         <iframe
                          width="450"
                          height="250"
                          frameborder="0" style="border:0"
                          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCKR0akiFwM6GkJqe-hH7oFsNvWGQ24Myg&q=record+stores+in+Seattle">
                        </iframe> 
                    </div>

                </div>
            </div> 
        </div>
    </body>
</html>