@CHARSET "ISO-8859-1";

@media only screen and (min-width: 768px) {

	section{
		min-width: 768px;
        height: 600px;
	}

	#cleanup_section{
		height: 1200px;

	}

	#map_it_section{
		height: 1200px
	}
}

body{
	background: #717171;
}

h1{
	font-size: 56px;
	padding-top: 25px;
	font-family:'Trebuchet MS';
	font-weight:bold;
}

a{
	font-size: 20px;
	color: #789c79;
}
a:hover { 
    color: #4a763e;
}

p{
	font-size: 32px;
}

ul{
	font-size: 32px;
	text-align: center;
	list-style-position: inside
}

li{
	text-align: center;
	padding-top: 25px;

}

.scrollContent{
	text-align: center;
}

/*
 *		Section 1
 */
#title_section{
	background: #B0D2A8;

}

#title{
	padding-top: 150px;
}

#login_reg_href{
	padding: 1em;
	text-align: right;
}

#down_arrow{
	padding: 20px;
	font-size: 50px;
}

/*
 *		Section 2
 */
#what_we_do_section{
	background: #c3dcd6;
}

/*
 *		Section 3
 */
#map_it_section{
	background: #B0D2A8;
}

#map{
	padding-top: 40px;
	text-align: center;
}

#pin{
	visibility: hidden;
}

#map_message{
	display: inline-block;
	visibility: hidden;
    border-style: solid;
    border-width: 3px;
    background: #c3dcd6;
    width: 175px;
}

/*
 *		Section 4
 */
#cleanup_section{
	background: #c3dcd6;
}

#recycle_bin{
	position: relative;
	top: 25px;
	padding-bottom: 75px;
}

#paper_crumples_right{
	margin-right: 250px;
	display: inline-block;
}

#paper_crumples_left{
	text-align: right;
	display: inline-block;
}

/*
 *		Section 5
 */
#get_involved_section{
	background: #5C4033;
}

#sign_up{
	padding: 3em;
	padding-bottom: 10em;
}

