@CHARSET "ISO-8859-1";

body{
	background: black;
}

h1{
	font-size: 4.5em;
	padding-top: 1em;
}

a{
	font-size: 1.25em;
	color: #5C4033;
}
a:hover { 
    color: yellow;
}

p{
	font-size: 2.25em;
}

.scrollContent{
	text-align: center;
}

/*
 *		Section 1
 */
#title_section{
	background: #008a05;

}

#title{
	padding-top: 2.5em;
}

#login_reg_href{
	padding: 1em;
	text-align: right;
}

#down_arrow{
	padding: 1em;
	font-size: 3.5em;
}

/*
 *		Section 2
 */
#what_we_do_section{
	background: blue;
}

#map{
	padding-top: 3em;
}

/*
 *		Section 3
 */
#map_it_section{
	background: green;
}

/*
 *		Section 4
 */
#cleanup_section{
	background: blue;
}

#recycle_bin{
	position: relative;
	top: 3em;
	padding-bottom: 10em;
}

#paper_crumples{
	margin-right: 30em;

}

/*
 *		Section 5
 */
#get_involved_section{
	background: #5C4033;
}

#sign_up{
	padding: 3em;
	padding-bottom: 10em;
}

