 <!--                    PAGE CONTENT                       -->
<div class="container">
    <div class="OuterMostClass row">
        <!--    My Events sidebar   -->
        <div class="outerClass col-md-3" id="my-events" ng-init="getEvents()"
                                                    style="background:#C3DCD6;  
                                                        margin-right: 60px;
                                                        margin-left:30px; 
                                                        margin-top:30px;
                                                        box-shadow: 2.5px 2.5px 5px #648b60;
                                                        border-radius: 25px;">
            <h1 style="border-bottom: thin dotted #648B60; text-align:center;"> My Events </h1>
            <li style="list-style-type: none;"ng-repeat="e in events"><a ng-href="#/singleEvent/{{e.id}}">{{e.name}}</a></li>

            <br/>
            <p style="border-top: thin dotted #648B60;"> Would you like to <a href="#/createEvent">create an event?</a></p>
        </div>
        <br/><br/>
        <!--    Content   -->
        <div class="outerClass2 col-md-7" id="find-events" style="background:#C3DCD6;  
                                                            margin-left: 100px;
                                                            box-shadow: 2.5px 2.5px 5px #648b60;">
        <h1 style="border-bottom: thin dotted #648B60; text-align:center;">Find Event</h1>
        <div class="row">
            <div class="col-md-6">
                <h3 style="text-align:center;">Select</h3>
                <div id="map-canvas"></div>
            </div>
            <div class="col-md-6">
                <h3 style="text-align:center;">Search</h3>
                <p><i> Find an event by name, location and/or description!</i></p>
                <form class="form-horizontal nav-right" role="search" name="findForm" ng-submit="findEvent(findForm.$valid)" method="post">
                    <div class="form-group" style="align:center">
                        <label for="event-name" class="col-md-4 control-label">Event Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="event-name" ng-model="aQuery.name">
                        </div>
                    </div>
                    <div class="form-group" style="align:center">
                        <label for="event-loc" class="col-md-4 control-label">Location</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="event-loc" ng-model="aQuery.location">
                        </div>
                    </div>
                    <div class="form-group" style="align:center">
                        <label for="event-desc" class="col-md-4 control-label">Search Tags</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="3" cols="20" id="event-desc" ng-model="aQuery.description"></textarea>
                        </div>
                    </div>
                    
                        <button type="submit" ng-disabled="findForm.$invalid" class="btn btn-default" action="api/events">Search</button>
                </form>
            </div>
            
        </div>


    </div> 
        <div class="outerclass col-md-4" id="found-events" style="background:#C3DCD6;  
                                                              box-shadow: 2.5px 2.5px 5px #648b60;
                                                              margin-top:-200px;">
                <h4 style="border-bottom: thin dotted #648B60; text-align:center;"><b>Search Results</b></h4>
                <div ng-show="resultsReturned">{{results}}</div>
        </div>
</div>