 <!--                    PAGE CONTENT                       -->
<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-md-3" id="my-events" style="background:#C3DCD6;  
                                                        margin-right: 60px;
                                                        margin-left:30px; 
                                                        box-shadow: 2.5px 2.5px 5px #648b60;
                                                        border-radius: 25px;">
            <h1 style="border-bottom: thin dotted #648B60;"> My Events </h1>
            
            {{events}}
            <li style="list-style-type: none;"ng-repeat="e in events">{{e.id}}</li>

            <br/>
            <p> Would you like to <a href="#/createEvent">create an event?</a></p>
        </div>
        <div class="outerClass2 col-md-7" id="local-events" style="background:#C3DCD6;  
                                                            margin-left: 100px;
                                                            box-shadow: 2.5px 2.5px 5px #648b60;">
            <h1 style="border-bottom: thin dotted #648B60;">Events in My City</h1>
           
            <form class="navbar-form nav-right" role="search">
                <div class="form-group" style="align:center">
                     <h5> Where do you live?</h5>

                    <input type="text" class="form-control" placeholder="Search">
                     <button type="submit" class="btn btn-default">Submit</button>
                </div>  
            </form>
            </br>
            <div class="outerclass col-md-6" id="pop-events" style="background:#C3DCD6;  
                                                              border: 2px solid;">
                <h4 style="border-bottom: thin dotted #648B60;">Popular Events</h4>

                <p> Please search for you location using the map!</p>
            </div> 
            <div class="outerclass col-md-6" id="maps-api">
                <div  id="map-canvas"></div>
            </div>

        </div>
    </div> 
</div>