 <!--                    PAGE CONTENT                       -->
<div class="container">
    <div class="OuterMostClass row">
        <!--    My Events sidebar   -->
       <div class="outerClass col-md-3" id="my-events" ng-init="getEvents()"
                                                    style="background:#C3DCD6;  
                                                        margin-right: 60px;
                                                        margin-left:30px; 
                                                        margin-top:30px;
                                                        box-shadow: 2.5px 2.5px 5px #648b60;
                                                        border-radius: 25px;">
            <h1 style="border-bottom: thin dotted #648B60; text-align:center;"> My Events </h1>
            <li style="list-style-type: none;"ng-repeat="e in events"><a ng-href="#/singleEvent/{{e.id}}">{{e.name}}</a></li>

            <br/>
            <p style="border-top: thin dotted #648B60;"> Would you like to <a href="#/createEvent">create an event?</a></p>
        </div>
        <!--    Content   -->
        <div class="outerClass2 col-md-7" ng-init="getIndividualEvent()" id="find-events" style="background:#C3DCD6;  
                                                            margin-left: 100px;
                                                            box-shadow: 2.5px 2.5px 5px #648b60;">
        <h1 style="border-bottom: thin dotted #648B60; text-align:center;">Event Name: {{event.name}}</h1>
        <div class="row">
            <div class="col-md-12">
                <p>Location: {{event.location}}</p>
                <p>Description: {{event.description}}</p>
                <p>Coordinator Email: {{event.email}}</p>
            </div>
        </div class="Heythere">
        <button type="submit" class="btn btn-default" class="ng-hide" ng-click="joinEvent(event.name, event.id)" ng-hide="event.participants.length > 0">Join Event</button>
        <p ng-hide="event.participants.length == 0">You have already joined this event!!</p>
        </div>
    </div> 
</div>